<div fxLayoutAlign="center">
  <md-card fxFlex.gt-sm="960px">
    <md-card-header>
      <md-card-title>Want to solve your problem? Get in touch today</md-card-title>
    </md-card-header>
    <md-card-content>
      <form>
        <div fxLayout="column">
          <md-form-field class="contact-full-width">
            <input mdInput placeholder="Name" name="name" [ngModel]="(contact|async)?.name" (ngModelChange)="contact.update({name: $event})">
          </md-form-field>
          <md-form-field class="contact-full-width">
            <input mdInput placeholder="Email" type="email" name="email" [ngModel]="(contact|async)?.email" (ngModelChange)="contact.update({email: $event})">
          </md-form-field>
          <md-form-field class="contact-full-width">
            <input mdInput placeholder="Phone" type="tel" name="phone" [ngModel]="(contact|async)?.phone" (ngModelChange)="contact.update({phone: $event})">
          </md-form-field>
          <md-form-field class="contact-full-width">
            <textarea mdInput placeholder="Message" rows="10" name="message" [ngModel]="(contact|async)?.message" (ngModelChange)="contact.update({message: $event})"></textarea>
          </md-form-field>
        </div>
      </form>
    </md-card-content>
    <md-card-actions>
      <button md-button routerLink="/">SEND</button>
    </md-card-actions>
  </md-card>
</div>