<md-toolbar color="primary">
  <span fxShow.lt-sm="false" fxShow.gt-sm="true" fxShow="true">
    <button md-button routerLink="/">
      AZMO
    </button>
    <button md-button routerLink="/startup">
      Startups
    </button>
    <button md-button routerLink="/contact">
      Contact
    </button>
  </span>
  <span fxShow.lt-sm="true" fxShow.gt-sm="false" fxShow="false">
    <button md-icon-button routerLink="/">
        <md-icon>home</md-icon>
    </button>
    <button md-icon-button routerLink="/startup">
        <md-icon>lightbulb_outline</md-icon>
    </button>
    <button md-icon-button routerLink="/contact">
        <md-icon>mode_edit</md-icon>
    </button>
  </span>

  <span fxShow.lt-sm="false" fxShow.gt-sm="true" fxShow="true" class="fill-remaining-space"></span>
  <button *ngIf="!currentUserId" md-icon-button mdTooltip="Login" [mdMenuTriggerFor]="loginmenu">
      <i class="fa fa-sign-in" aria-hidden="true"></i>    
    </button>
  <span fxShow.lt-sm="false" fxShow.gt-sm="true" fxShow="true">
      <button *ngIf="currentUserId" md-button [mdMenuTriggerFor]="logoutmenu">{{currentUserName}}</button>
    </span>
  <span fxShow.lt-sm="true" fxShow.gt-sm="false" fxShow="false">
      <button *ngIf="currentUserId" md-icon-button [mdMenuTriggerFor]="logoutmenu">
        <md-icon>person</md-icon>      
      </button>
    </span>
  <button *ngIf="currentUserId" md-icon-button mdTooltip="Feedback" (click)="openFeedbackDialog()">
      <md-icon>feedback</md-icon>
    </button>
</md-toolbar>

<md-menu #loginmenu="mdMenu" id="login-menu">
  <button md-menu-item (click)="loginGoogle()">
    <i class="fa fa-google" aria-hidden="true"></i>
    <span>Google</span>
  </button>
  <button md-menu-item (click)="loginFacebook()">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <span>Facebook</span>
  </button>
</md-menu>

<md-menu #logoutmenu="mdMenu" id="logout-menu">
  <button md-menu-item (click)="logout()">
    <i class="fa fa-sign-out" aria-hidden="true"></i>
    <span>Sign Out</span>
  </button>
</md-menu>

<router-outlet></router-outlet>