<div fxLayoutAlign="center">
  <md-card fxFlex.gt-sm="960px">
    <md-card-content>
      <p>
        Are you a junior developer, uni student, or just want to pick up a new tech skills?
      </p>
      <p>
        We can provide you with the opportunity to work on exciting new projects, coaching, job references and ability to showcase
        your work to potential employers.
      </p>
      <p>
        Please don’t hesitate to contact us to start working.
      </p>
    </md-card-content>
    <md-card-actions>
      <div class="bottom-start">
        <a md-raised-button routerLink="/contact">Register</a>
      </div>
    </md-card-actions>
  </md-card>
</div>